// * This styles are linked to index.scss which is linked in app.jsx.

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $ff-main;
  font-size: $fs-base;
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $c-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1480px;
  margin: 40px auto 0 auto;
  padding: 0 20px;
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

// --------Custom Scrollbar----------------
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 8px;
  opacity: 0.7;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: $c-orange;
  border-radius: 10px;
  outline: none;
}
