// * This styles are linked in index.scss which is linked in app.jsx and working already.

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid rgb(174, 174, 255);
}

img {
  width: 100%;
}

body {
  font-family: $ff-main;
  font-size: $fs-base;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1480px;
  margin: 120px auto 0 auto;
  padding: 0 20px;
  // border: 1px solid red;
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

// --------Custom Scrollbar----------------
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 8px;
  opacity: 0.7;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: $c-orange;
  border-radius: 10px;
  outline: none;
}
