// ! Usage @import 'styles/variables.scss';

// ! Colors
$c-white: #ffffff;
$c-black: #000000;
$c-grey: #9d9d9d;
$c-blue: #2b30c0;
$c-blue-dark: #0a0d6e;
$c-violet: #889aff;
$c-violet-light: #dce1fd;
$c-orange: #f37555;

// ! FontSize
$fs-h1: 28px; // heading - health overview
$fs-h2: 22px; // BMI calc
$fs-h3: 20px; // water tracker, upcoming stuff
$fs-h4: 18px;
$fs-base: 16px;
$fs-small: 14px;

// Fonts variables
$ff-main: 'Poppins', sans-serif;

// FontWeight
$fw-normal: 400;
$fw-bold: 600;

// FontWeight
$t-normal: 0.25s ease-out;
$t-medium: 0.5s ease-out;
$t-long: 2s ease-out;
