@import 'assets/styles/base/mixins.scss';
@import 'assets/styles/base/variables.scss';
@import 'assets/styles/base/media.scss';

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 1;
}

.popupDialog {
  max-width: 700px;
  position: fixed;
  top: 5vh;
  left: 0;
  bottom: 5vh;
  right: 0;
  margin: 0 auto;
  overflow: auto;
  line-height: 1.5;
}

.popupContent {
  @include flexColumn;
  background-color: $c-white;
}

.popupHeader {
  @include flexRow;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px solid $c-orange;
}

.popupBody {
  @include flexColumn;
  padding: 20px 30px;
  gap: 25px;
  text-align: justify;
}

.closeButton {
  background-color: $c-blue;
  color: $c-white;
  font-weight: $fw-bold;
  padding: 8px 16px;
  border-radius: 8px;
  @include flexRow;
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
  transition: $t-normal;

  &:focus,
  &:hover {
    color: $c-black;
    opacity: 0.9;
  }
}
