@import 'assets/styles/base/mixins.scss';
@import 'assets/styles/base/media.scss';

.getInTouch {
  margin-bottom: 100px;

  @media (max-width: $bp-tablet) {
    margin-bottom: 80px;
  }

  @media (max-width: $bp-phone) {
    margin-bottom: 60px;
  }
}

.formWrapper {
  max-width: 600px;
  @include flexColumn;
  align-items: stretch;
  margin: 0 auto;
  gap: 20px;
}

.unreqFieldsWrapper {
  @include flexRow;
  gap: 20px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.field {
  min-height: 80px;
}
