@import './../../styles/base/mixins.scss';
@import './../../styles/base/media.scss';
@import './../../styles/base/variables.scss';

.headerWapper {
  @include header;
  @include flexRow;
  z-index: 99;
  background-color: $c-white;
  box-shadow: $shadow-normal;
  padding: 10px 30px;
  white-space: nowrap;
  gap: 20px;
  border-radius: 0 0 8px 8px;
}

.logo {
  margin-right: 30px;
  max-height: 50px;
  z-index: 100;
  cursor: pointer;
}

.navigation {
  @include flexRow;
  gap: 70px;

  @media (max-width: $bp-tablet) {
    gap: 20px;
  }

  @media (max-width: $bp-phone) {
    display: none;
  }
}

.burger {
  display: none;

  @media (max-width: $bp-phone) {
    display: block;
    transform: rotate(90deg);
    font-size: $fs-h1;
    cursor: pointer;

    ::selection {
      background-color: transparent;
    }
  }
}
