@import 'assets/styles/base/mixins.scss';
@import 'assets/styles/base/variables.scss';
@import 'assets/styles/base/media.scss';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 1;
}

.modalDialog {
  max-width: 300px;
  position: fixed;
  top: 30vh;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}

.modalContent {
  @include flexColumn;
  align-items: stretch;
  background-color: $c-white;
  border-radius: 8px;
}

.modalHeader {
  @include flexRow;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid $c-orange;
}

.closeButton {
  font-size: $fs-h1;
  font-weight: $fw-bold;
  color: $c-black;
  padding: 5px;
  opacity: 0.6;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $c-black;
    cursor: pointer;
    opacity: 0.7;
  }
}

.modalBody {
  @include flexColumn;
  padding: 15px 15px 30px 15px;
  overflow: auto;
  gap: 25px;
}
