@import 'assets/styles/base/variables.scss';

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  padding: 3px 0;
}

.title {
  margin-bottom: 20px;
}

.highlightedText {
  color: $c-blue;

  &::before {
    content: ' ';
  }
}

.underline {
  height: 3px;
  margin: 0 auto;
  background-color: $c-blue;
  max-width: 300px;
}
