@import 'assets/styles/base/variables.scss';
@import 'assets/styles/base/media.scss';

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
}

.title {
  margin-bottom: 20px;
}

.highlightedText {
  color: $c-blue;

  &::before {
    content: ' ';
  }
}

.underline {
  height: 3px;
  margin: 0 auto;
  background-color: $c-orange;
  max-width: 300px;

  @media (max-width: $bp-tablet) {
    max-width: 200px;
  }

  @media (max-width: $bp-phone) {
    max-width: 150px;
  }
}
