@import 'assets/styles/base/media.scss';

.technologyImage {
  max-width: 60px;
  max-height: 70px;
  width: 100%;
  cursor: grab;

  &::selection {
    background-color: transparent;
  }
}

.swiperSlide {
  width: 100%;
}
