@import 'assets/styles/base/media.scss';

.sponsors {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 120px;

  @media (max-width: $bp-tablet) {
    gap: 70px;
  }

  @media (max-width: $bp-phone) {
    gap: 50px;
  }
}

.technologyImage {
  max-width: 60px;
  max-height: 70px;
  width: 100%;
  cursor: grab;

  &::selection {
    background-color: transparent;
  }
}

.swiperSlide {
  width: 100%;
}
